*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;     
    margin-right: auto;
    margin-left: 800px;
    background-color: inherit;
    height: 700px;
}
@media(min-width:768px){
    .container{
        margin:0 auto;

    }
}

@media(min-width: 992px){
    .container{

        max-width: 960px ;
    }
}
@media(min-width: 1200px){
    .container{

        max-width: 1140px ;
    }
}
@media (min-width:1400px){
    .container{
        max-width: 1350px;
    }
}

.section_title p{
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #fd6e0a;
}

.section_title h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #15295f;
}

.section_title.center{
    text-align: center;
}
.experience-section{
    padding: 65px 0 100px;
    /* background-color: rgb(160, 244, 172); */
    position: relative;
}

.experience-section .experience-items{
    margin-top: 50px;
    padding: 5px;
    /* background-color: aqua; */
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-wrap:wrap;
    flex-wrap: wrap;
    -webkit-box-pack:justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 20px;
}
.experience-item{

    -webkit-box-flex:0;
    -ms-flex:0 0 48%;
    flex: 0 0 48%;
    margin:auto;
    /* background-color: #997777; */
    max-width: 48%;
}
.experience-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content: space-between;
}
.experience-info p{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #15295f;
    opacity: 1;
    -webkit-animation: showtext 0.5s 1s linear forwards;
    animation: showtext 0.5s 1s linear forwards;
}
.progress-line{
    margin-top:7px;
    height:10px;
    width:100%;
    background-color: #cdcdcd;
    border-radius: 50px;
    position: relative;
    
}
.progress-line span{
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin:right ;
    transform-origin:right;
    -webkit-animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    height:100%;
    border-radius: 50px;
    position: absolute;
    background-color: #fd6e0a;
    transition: 1s all;

}
.progress-line span.animate{
    -webkit-animation: animate 1.5s 0.5s cubic-bezier(1,0,0.5,1) forwards;
    animation: animate 1.5s 0.5s cubic-bezier(1,0,0.5,1) forwards;
    
} 
@-webkit-keyframes showtext{
    100%{
        opacity: 1;
    }
}
@keyframes showtext{
    100%{opacity: 1;}
}

@-webkit-keyframes animate{
    100%{
        -webkit-transform:scaleX(1);
        transform: scaleX(1);
 
    }


}

@keyframes animate{
    100%{
        -webkit-transform:scaleX(1) ;
        transform: scaleX(1);

    }
}
.PricePool{
    height: 100px;
    width: 100px;
    
    background-color: #997777;
    border-radius: 50%;
    
    margin:auto;
   }

   .PricePool p{
    margin: auto;
   }
   /* TEAMS */
   .card {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  .teams {margin: 0 -5px;}

/* Clear floats after the columns */
.teams:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
    .card {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  .team {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }